body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', Courier, monospace;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    top: 90px;
}

h2, h3 {
    letter-spacing: .05rem;
}

/* -- Header -- */

header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
}

header img {
    height: 40px;
    margin: 10px 20px;
}

#nav-list {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

#nav-list li {
    list-style: none;
    margin: 0 10px;
}

#nav-list a {
    color: black;
    font-size: 1.5rem;
}

/* -- Banner -- */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .vid-wrapper {
    height: 400px;
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#banner video {
    height: 120%;
}

#banner .mid, #banner .mobile {
    display: none;
}

#banner img {
    filter: invert(1);
    width: 250px;
    position: absolute;
    opacity: 0.8;
}

/* -- Text -- */

    #text {
        display: flex;
        width: 70%;
        max-width: 700px;
        margin: 80px auto;
    }

    #about-text, #contact-text {
        margin: 0 20px;
    }

/* -- Footer -- */

footer #lower {
    box-sizing: border-box;
    color: black;
    padding: 1px 25px;
    width: 100%;
    height: fit-content;
    margin-top: 150px;
}

/* -- Media Queries -- */


@media only screen and (max-width: 900px) {

    .vid-section {
        flex-direction: column;
    }

    .vid-text {
        min-width: 350px;
    }

}

@media only screen and (max-width: 800px) {
    
    #text {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    
    #banner .wide {
        display: none;
    }

    #banner .mid {
        display: block;
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vid img {
        width: 70%;
    }

    .vid-section {
        margin: 100px auto 50px !important;
    }

    #banner .vid-wrapper {
        min-width: 0;
        width: 80%;
    }

    #text {
        margin: 40px auto;
    }

    #text h3 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 400px) {

    #banner img {
        width: 180px;
    }
}

@media only screen and (min-width: 600px) {

    #content {
        padding: 0 100px;
    }

    .vid img {
        min-width: 400px;
    }
}



/* -- Videos -- */

.vid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 150px;
    max-width: 1000px;
}

.vid {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px 30px;
}

.vid img {
    min-width: 400px;
    max-width: 1000px;
    border-radius: 15px;
}

.vid-text {
    width: 60%;
    max-width: 600px;
    margin: 20px 30px;
}