
body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    width: calc(100% - 80px);
}

.menu-bar {
    width: 25px;
    height: 4px;
    margin-bottom: 5px;
    background-color: white;
}

.header-center {
    display: flex;
    justify-content: center;
}

.header-center img {
    height: 60px;
    filter: invert();
}

.header-right {
    display: flex;
    justify-content: flex-end;
}

.header-right img {
    height: 25px;
    filter: brightness(0) invert();
    margin-left: 20px;
}

#banner .vid-wrapper {
    width: 100vw;
    max-width: 1800px;
    height: 100vh;
    min-height: 400px;
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#banner video {
    height: 120%;
}

#banner .wide {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    #banner .wide {
            display: block;
        }
    
    #banner .mid {
            display: none;
        }

}
