

main {
    padding: 0 80px;
}

.vid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    padding-bottom: 100px;
    max-width: 1100px;
    /*border-bottom: 1px solid darkgrey;*/
}

.first {
    margin-top: 100px;
}

/*.last {
    border-bottom: none;
    padding-bottom: 50px;
}*/

.vid {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px 30px;
}

.vid img {
    min-width: 400px;
    max-width: 1000px;
    border-radius: 15px;
}

.vid-text {
    width: 50%;
    max-width: 600px;
    margin: 20px 30px;
}

.laurels {
    display: flex;
}

.laurels img {
    filter: invert(1);
    width: 120px;
    margin: 10px;
}


@media only screen and (max-width: 1200px) {

    .vid-section {
        flex-direction: column;
        margin: 300px auto;
        padding-bottom: 50px;
    }

    .vid-text {

        min-width: 350px;
    }

    .first {
        margin-top: 120px;
    }

}

@media only screen and (max-width: 600px) {

    main {
        padding: 0;
    }

    .vid-section {
        border-bottom: none;
    }
}

@media only screen and (max-width: 500px) {
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vid img {
        width: 70%;
    }

    .vid-section {
        margin: 120px auto 50px !important;
    }

    .vid-wrapper {
        min-width: 0;
        width: 80%;
    }

}
