/* -- HOME PAGE -- */

main, footer {
    position: relative;
    top: 80px;
}

/* -- NEW -- */

#menu {
    width: 55px;
    height: 40px;
    position: fixed;
    margin: 10px;
}

#projects {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}


/* -- 2 - Banner -- */

#banner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .vid-wrapper {
    height: 400px;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 8;
}

#banner video {
    height: 120%;
}

#banner .wide {
    display: none;
}

#banner img {
    filter: invert(1);
    width: 180px;
    position: absolute;
    opacity: 0.8;
    z-index: 9;
}

/* -- 3 - Text -- */

#text {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 750px;
    margin: 30px auto;
}

#about-text {
    margin-right: 40px;
}


address h2 {
    margin-bottom: 15px;
}

address p {
    font-style: normal;
    letter-spacing: .06rem;
    margin-top: 0;
}



@media only screen and (min-width: 900px) {
    
    #text {
        flex-direction: row;
    }
}

@media only screen and (min-width: 500px) {
    
    #banner .wide {
            display: block;
        }
    
    #banner .mid {
            display: none;
        }

    address p {
        font-size: 18.72px;
    }
}

@media only screen and (min-width: 400px) {

    #banner img {
        width: 250px;
    }
}
