/* -- HOME PAGE -- */


main {
    position: relative;
    top: 90px;
}


/* -- 2 - Banner -- */

#banner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .vid-wrapper {
    height: 400px;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#banner video {
    height: 120%;
}

#banner .wide, #banner .mobile {
    display: none;
}

#banner img {
    filter: invert(1);
    width: 180px;
    position: absolute;
    opacity: 0.8;
}

/* -- 3 - Text -- */

#text {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 700px;
    margin: 80px auto;
}

#about-text, address {
    margin: 0 20px;
    font-style: normal;
}

address p {
    font-size: 4vw;
    font-weight: bold;
    margin: 18.72px 0;
    letter-spacing: .06rem;
}



@media only screen and (min-width: 900px) {
    
    #text {
        flex-direction: row;
    }
}

@media only screen and (min-width: 500px) {
    
    #banner .wide {
            display: block;
        }
    
    #banner .mid {
            display: none;
        }

    address p {
        font-size: 18.72px;
    }
}

@media only screen and (min-width: 400px) {

    #banner img {
        width: 250px;
    }
}
